* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'RubikDirt';
    src: url("../fonts/RubikDirt-Regular.ttf");
}

@font-face {
    font-family: 'MPLUS2';
    src: url("../fonts/MPLUS2-VariableFont_wght.ttf");
}

.title-left { /* OCAD Universtiy */
    font-family: 'RubikDirt';
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    font-optical-sizing: auto;

    top: 2%;
    left: 2%;
}

.title-center { /* Research Talks */
    font-family: 'RubikDirt';
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-optical-sizing: auto;
    position: absolute;

    top: 2%;
    left: 40%;
}

.title-right { /* Spring 2026 Lecture Series */
    font-family: 'RubikDirt';
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    font-optical-sizing: auto;
    position: absolute;

    top: 2%;
    right: 2%;
}

h1 { /* Research Talks: Vanessa Dion Fletcher, Kelsey Pugh & Anna Stielau */
    font-family: 'MPLUS2';
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    font-optical-sizing: auto;

    top: 17%;
    left: 3%;
    z-index: +1;
}

h2 { /* Faculty of Arts and Science..... */
    font-family: 'MPLUS2';
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    font-optical-sizing: auto;

    top: 23%;
    left: 3%;
    z-index: +1;
}

.info-event { /* Date, Location, Time, Room */
    font-family: 'MPLUS2';
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    font-optical-sizing: auto;

    top: 18%;
    right: 3%;
    line-height: 140%;
    z-index: +1;
}

#grid-space {
    width: 100%;
    height: 70%;

    background-color: #edede9;
    border-radius: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: fit-content;
    position: relative;

    top: 34%;
    overflow-x: hidden;
    cursor: move;
}

.speaker1 {
    background-color: #e9edc9;
    height: 90%;
   
    border-radius: 2rem;
    /* border: 2px solid #14213d; */
    position: relative;
    margin: 10%;

    box-shadow: 0px 5px 35px 3px #ccd5ae;
}

.speaker2 {
    background-color: #ffd29d;
    height: 72%;

    border-radius: 2rem;
    /* border: 2px solid #14213d; */
    position: relative;
    margin: 10%;

    box-shadow: 0px 5px 35px 3px #ffb563;
}

.speaker3 {
    background-color: #7ebdc2;
    height: 67%;

    border-radius: 2rem;
    /* border: 2px solid #14213d; */
    position: relative;
    margin: 10%;

    box-shadow: 0px 5px 30px 3px #7ebdc2;
}

h3 { 
    font-family: 'MPLUS2';
    font-size: 20px;
    font-weight: 700;
    position: relative;
    font-optical-sizing: auto;
    display: flex;
    padding: 20px;
}

h4 {
    font-family: 'MPLUS2';
    font-size: 15px;
    font-weight: 700;
    position: relative;
    font-optical-sizing: auto;
    display: flex;
    padding: 5px 20px;
}

p {
    font-family: 'MPLUS2';
    font-size: 14px;
    font-weight: 400;
    position: relative;
    font-optical-sizing: auto;
    display: flex;
    padding: 5px 20px;
}

.external_links {
    font-family: 'MPLUS2';
    font-size: 14px;
    font-weight: 400;
    position: relative;
    font-optical-sizing: auto;
    display: flex;
    padding: 5px 20px;
}

script {
    display: none;
}